<!-- start of section -->
<section class="section-padding">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-lg-12">
             <div class="media p-4 p-md-5 shadow-lg rounded bg-white align-items-center d-block d-md-flex">
                <img src="images/book.jpg" class="img-fluid mr-5" alt="Book">
                <div class="media-body mt-4 mt-md-0">
                   <h2 class="font-secondary">Download Our New Book Of  Health Guide and stay healthy everyday in your life</h2>
                   <p class="mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel, sed arcu pellentesque lobortis dolor netus in neque. Purus nisi vel hac sem sodales ac magnis orci sed. Hac urna sit a.</p>
                   <a href="#!" class="btn btn-primary">Download E-book</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- end of section -->


<!-- start of footer -->
<footer>
  <div class="container">
    <div class="row">
        <div class="col-12 mb-60">
            <div class="border-bottom"></div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="pr-0 pr-lg-4">
                <img class="mb-25" src="images/logo.png" alt="">
                <p>Lorem ipsum dolor sit sed dmi amet, consectetur adipiscing. Cdo tellus sed condimentum volutpat.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md col-sm-6">
            <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                <h5 class="font-weight-600 mb-20">About us</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="about.html">About</a></li>
                    <li><a href="mentor.html">Mentor</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md col-sm-6">
            <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                <h5 class="font-weight-600 mb-20">Information</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#!">Career</a></li>
                    <li><a href="#!">Service</a></li>
                    <li><a href="#!">Conduction</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="pl-0 pl-lg-4 mt-5 mt-lg-0">
                <h5 class="font-weight-600 mb-20">Social Contacts</h5>
                <ul class="social-icon-link has-shadow list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#!"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="#!"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#!"><i class="fab fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom mt-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block border-top text-center content">
                    Copyright © 2020 Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</footer>
<!-- end of footer -->
  
  <!-- ** Plugins Needed for the Project ** -->
  <script src="plugins/jQuery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/twentytwenty/js/jquery.event.move.js"></script>
  <script src="plugins/twentytwenty/js/jquery.twentytwenty.js"></script>
  <script src="plugins/rating/rating.js"></script>

  <!-- Main Script -->
  <script src="js/script.js"></script>

</body>
</html>