<!DOCTYPE html>
<html lang="zxx">

<head>
   <meta charset="utf-8">
   <title>Loose2gain</title>

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- ** Plugins Needed for the Project ** -->
   <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" href="plugins/slick/slick.css">
   <link rel="stylesheet" href="plugins/slick/slick-theme.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
   <link rel="stylesheet" href="plugins/twentytwenty/css/twentytwenty.css">

   <!-- Main Stylesheet -->
   <link href="css/style.css" rel="stylesheet">

   <!--Favicon-->
   <link rel="shortcut icon" href="images/favicon.png" type="image/png">

</head>

<body>

   <div class="shape-left @@no-shapes"><img src="images/shapes/banner-left-top.svg" alt=""></div>
   <div class="shape-right @@no-shapes"><img src="images/shapes/banner-right-top.svg" alt=""></div>

   <header class="header-nav @@bg">
      <div class="container">
         <nav class="navbar navbar-expand-xl navbar-light px-0">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about.html">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="mentor.html">Mentor</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="story.html">Story</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="programs.html">Programs</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Pages
                     </a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="mentor-single.html">Mentor Single</a></li>
                        <li><a class="dropdown-item" href="blog.html">Blogs</a></li>
                        <li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
                        <li><a class="dropdown-item" href="pricing.html">Programs Pricing</a></li>
                        <li><a class="dropdown-item" href="story-details.html">Story Details</a></li>
                        <li><a class="dropdown-item" href="programs-details.html">Program Details</a></li>
                        <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                        <li><a class="dropdown-item" href="product-single.html">Product Single</a></li>
                        <li><a class="dropdown-item" href="address.html">Address</a></li>
                        <li><a class="dropdown-item" href="payment.html">Payment</a></li>
                        <li><a class="dropdown-item" href="terms-conditon.html">Terms &amp; Conditon</a></li>
                        <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                     </ul>
                  </li>
               </ul>

               <div class="navbar-actions">
                  <a href="store.html" class="btn btn-sm btn-outline-dark"><i class="fas fa-shopping-cart icon-left"></i> Store</a>
               </div>
            </div>
         </nav>
      </div>
   </header>